.timer-card-display {
  border: 2px solid var(--tmz-color-text);
  border-radius: 0.5rem;
  padding: 1rem;
}

.timer-card-display.--running.--expired .timer-card-display__digits {
  animation: pulseAnimation 1s linear infinite;
}

.timer-card-display.--paused .timer-card-display__digits {
  animation: halfPulseAnimation 2s linear infinite;
}

.timer-card-display.--running .timer-card-display__digits-separator {
  animation: pulseAnimation 1s linear infinite;
}

@keyframes pulseAnimation {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes halfPulseAnimation {
  0% { opacity: 1 }
  50% { opacity: 0.33 }
  100% { opacity: 1 }
}

.timer-card-display__header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  border-bottom: 2px solid currentColor;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.timer-card-display__title {
  text-align: center;
  margin: 0;
  font-family: monospace;
}

.timer-card-display__digits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

.timer-card-display__digits-separator {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  line-height: 4.5em;
  width: 2rem !important;
  height: 4.5rem;
}

.timer-card-display__digits > * {
  width: 100%;
}