.timer-card-form {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--tmz-color-text);
}

.timer-card-form__header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--tmz-color-text);
}

.timer-card-form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: bold;
  }

  .error-message {
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-style: italic;
    color: #ff0000;
  }
}

.form-controls-row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;

  > .form-control {
    flex: 1;
    padding: 0.5rem;
  }
}

.color-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.33rem 1rem;
}

.color-option-swatch {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: monospace;
}