.timer-card-form {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--tmz-color-text);
}

.timer-card-form__header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--tmz-color-text);
}

.timer-card-form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: bold;
  }

  .error-message {
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-style: italic;
    color: #ff0000;
  }
}

.form-controls-row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;

  > .form-control {
    flex: 1;
    padding: 0.5rem;
  }
}

.color-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.33rem 1rem;
  width: 6.875rem;
}

.color-option-swatch {
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  border-radius: 8px;
}

.color-option-swatch.--green { background-color: var(--tmz-color-green); }
.color-option-swatch.--blue { background-color: var(--tmz-color-blue); }
.color-option-swatch.--red { background-color: var(--tmz-color-red); }
.color-option-swatch.--teal { background-color: var(--tmz-color-teal); }
.color-option-swatch.--purple { background-color: var(--tmz-color-purple); }
.color-option-swatch.--yellow { background-color: var(--tmz-color-yellow); }

.color-option[aria-checked="true"] .color-option-swatch {
  border-color: var(--tmz-color-background);
}