.radio-button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio-button-group__title {
  font-size: 0.9rem;
}

.radio-button-group__options {
  display: flex;
  gap: 0.25rem;
}

.radio-button-group__option {
  border-radius: 4px;
  background-color: var(--tmz-color-background);
  color: var(--tmz-color-text);
  border: 1px solid currentColor;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.radio-button-group__option:hover {
  background-color: var(--tmz-color-background-alt);
}

.radio-button-group__option[aria-checked="true"] {
  background-color: var(--tmz-color-text);
  color: var(--tmz-color-background);
}