.app {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: auto 1fr;
}

.app > header {
  grid-area: header;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--tmz-color-text-muted);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}

.app > main {
  grid-area: main;
  padding: 1rem;
}
