:root {
  --tmz-color-background: #242424;
  --tmz-color-background-alt: #4a4a4a;
  --tmz-color-text: rgba(255, 255, 255, 0.87);
  --tmz-color-text-muted: rgba(255, 255, 255, 0.5);
  --tmz-color-transparent: var(--tmz-color-background);
  --tmz-color-transparent-text: var(--tmz-color-text);

  --tmz-button-color-background: var(--tmz-color-background-alt);
  --tmz-button-color-text: var(--tmz-color-text);
  --tmz-button-hover-color-background: var(--tmz-color-text);
  --tmz-button-hover-color-text: var(--tmz-color-background);
}

:root[data-theme="light"] {
  --tmz-color-background: #ffffff;
  --tmz-color-background-alt: #e0e0e0;
  --tmz-color-text: #213547;
  --tmz-color-text-muted: #434c53;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--tmz-color-text);
  background-color: var(--tmz-color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
  background-color: var(--tmz-color-background-alt);
  color: var(--tmz-color-text);
  border: 1px solid var(--tmz-color-text);
  border-radius: 4px;
}

button {
  /*
  --tmz-button-color-background
  --tmz-button-color-text
  --tmz-button-hover-color-background
  --tmz-button-hover-color-text
  */

  border-radius: 4px;
  background-color: var(--tmz-button-color-background);
  color: var(--tmz-button-color-text);
  border: 1px solid currentColor;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--tmz-button-hover-color-background);
  color: var(--tmz-button-hover-color-text);
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}