.app-timers {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.app-timers .--maximize-timer {
  grid-column: 1 / 3;
}

.app-timers.--one-child {
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .app-timers {
    grid-template-columns: 1fr;
  }
}
