.app-timers {
  --app-timer-columns: 1fr 1fr;

  display: grid;
  gap: 1rem;
  grid-template-columns: var(--app-timer-columns);
}

.app-timers.--one-child {
  --app-timers-columns: 1fr;
}

@media (max-width: 600px) {
  .app-timers {
    --app-timers-columns: 1fr;
  }
}